   <header id="header">
       <div class="logo">
           <a href="/">Giải vô địch bóng đá quốc gia</a>
           <img src="static/images/vleague-icon.png">
       </div>
   </header>
   <div class="team-logo">
           <div class="team">
               <img src="static/images/An-Giang-1.jpg">
           </div>
           <div class="team">
               <img src="static/images/Binh-Phuoc.jpg">
           </div>
           <div class="team">
               <img src="static/images/Dong-Thap.jpg">
           </div>
           <div class="team">
               <img src="static/images/Hai-Phong.jpg">
           </div>
           <div class="team">
               <img src="static/images/Hue.jpg">
           </div>
           <div class="team">
               <img src="static/images/Hanoi.png">
           </div>
            <div class="team">
               <img src="static/images/Long-An.jpg">
           </div>
           <div class="team">
               <img src="static/images/Viettel.jpg">
           </div>
           <div class="team">
               <img src="static/images/Sai-Gon.jpg">
           </div>
           <div class="team">
               <img src="static/images/SLNA.jpg">
           </div>
           <div class="team">
               <img src="static/images/XSKT_Can_Tho.jpg">
           </div>
           <div class="team">
               <img src="static/images/Ha-Tinh.png">
           </div>
   </div>