<div id="sidebar">

          <div class="inner">
           <nav id="menu">
              <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="schedule">Lịch thi đấu - Kết quả</a></li>
                <li><a href="ranking">Bảng xếp hạng</a></li>
                <li><a href="teams">Danh sách đội bóng</a></li>
                <li><a href="players">Tra cứu cầu thủ</a></li>
                <li><a href="reportgoals">Danh sách cầu thủ ghi bàn</a></li>
              </ul>
            </nav>
            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; 2020 VPF
            </footer>

          </div>
</div>
