{% extends 'base/base.html' %}
{% block title %}VLeague - Trang chủ{% endblock %}
{% block content %}
 <div class="page-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h1>VLEAGUE</h1>
            <p><strong>Vleague</strong> là giải đấu bóng đá chuyên nghiệp cao nhất Việt Nam, do Công ty Cổ phần Bóng đá chuyên nghiệp Việt Nam (VPF) điều hành. Giải đấu bao gồm 14 đội thi đấu theo thể thức đấu vòng tròn sân nhà và sân khách. Đội về đích đầu tiên ở cuối mùa giải được tham dự AFC Champions League mùa giải sau. Đồng thời, đội vô địch và đội á quân sẽ tham dự Giải vô địch bóng đá các câu lạc bộ ASEAN mùa tiếp theo.</p>
          </div>
        </div>
      </div>
 </div>
{% endblock %}