{% extends 'base/base.html '%}
{% block title %}VLeague - Lịch thi đấu{% endblock %}
{% block content %}
     <section class="tables">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <h2>Bảng xếp hạng</h2>
                </div>
                <div class="alternate-table">
                  <table>
                    <thead>
                      <tr>
                        <th>Thứ hạng</th>
                        <th>Tên đội</th>
                        <th>Thắng</th>
                        <th>Hòa</th>
                        <th>Thua</th>
                        <th>Hiệu số</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     </section>
{% endblock %}