{% extends 'base/base.html '%}
{% block title %}VLeague - Bảng xếp hạng{% endblock %}
{% block content %}
     <section class="tables">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <h2>Bảng xếp hạng</h2>
                </div>
                <div class="alternate-table">
                  <table>
                    <thead>
                      <tr>
                        <th>Thứ hạng</th>
                        <th>Tên đội</th>
                        <th>Thắng</th>
                        <th>Hòa</th>
                        <th>Thua</th>
                        <th>Hiệu số</th>
                        <th>Điểm</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                      <tr>
                        <th>{{ loop.index }}</th>
                        <th>{{ team.name }}</th>
                        <th>{{ team.win }}</th>
                        <th>{{ team.tie }}</th>
                        <th>{{ team.lose }}</th>
                        <th>{{ team.win_goals-team.lose_goals }}    ({{ team.win_goals }}-{{ team.lose_goals }})</th>
                        <th>{{ team.score }}</th>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     </section>
{% endblock %}