{% extends 'base/base.html '%}
{% block title %}VLeague - Lịch thi đấu{% endblock %}
{% block content %}
     <section class="tables">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <h2>Lịch thi đấu - Kết Quả</h2>
                </div>
                <div class="alternate-table">
                  <table>
                    <thead>
                      <tr>
                        <th>Số thứ tự</th>
                        <th>Đối đầu</th>
                        <th>Thời gian</th>
                        <th>Sân vận động</th>
                        <th>Tỉ số</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for match in matches %}
                      <tr>
                        <td>{{match.id}}</td>
                          <td><a href="#">{{ match.home }} - {{ match.away }}</a></td>
                        <td>{{ match.MatchTime }}</td>
                        <td>{{ match.stadium }}</td>
                          <td><a href="#">{{ results }}</a></td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     </section>
{% endblock %}